nav ul {
    background-color: #A7A5C6;
    list-style: none;
    padding: 0;
    width: 200px;
    border: 1px solid #8797B2;
}

nav ul li {
    border: 1px solid #8797B2;
    padding: 5px;
}

nav ul li:last-child {
    border-bottom: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

nav ul li a:hover {
  text-decoration: underline;
}
